body {
    background-color: #F4F6F8;
}
.img1 {
  width: 50px;
  height: 50px;
}


#grad1 {
    background-image: linear-gradient(to right, #7AF1B7 ,#34ADEE); /* Standard syntax (must be last) */
  }
.butt {
    background-image: linear-gradient(to right, #7AF1B7 ,#34ADEE);
    margin-left: 160px;
    font-size: 18px;
    height: 40px;
    border: 2px solid #006598;
  }

  .enroll {
    color: #F4F6F8;
    background-image: linear-gradient(to right, #7AF1B7 ,#34ADEE);
    width: 140px;
    height: 60px;
    border: 2px solid #F4F6F8;
  }
  .header {
    background-color: #006598;
    color: #ffffff;
    padding-left: 35px;
    height: 100px;
    padding-top: 30px;
  }
 
  .col{
    text-align: center;
    color: #006598; 
    margin-top: 40px;
  }
  #col1{
      color: black;
      margin-bottom: 60px;
  }

  .accordion {
    background-image: linear-gradient(to right, #7AF1B7 ,#36AEEA );
    color: white;
    cursor: pointer;
    width: 89%;
    padding: 18px;
    border: none;
    text-align: left;
    font-size: 15px;
   
  }

  .btn1 {
    margin-right: 90px;
  }
  
  .panel {
    background-color: white;
    overflow: hidden;
    border: 2px solid #1E90FF;
    margin-left: -40px;
  }

  .list {
    padding-left: -60px;
  }

  .pan-marg {
    margin-left: 20px;
    margin-right: 20px;
  }

  .rcorners {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
    padding: 40px;
    background-color: aqua;
  }

  #form {
    border-radius: 0px;
    width: 100%;
    border: 2px solid #F4F6F8;
  }

  input[type=text] {
    box-sizing: border-box;
    border: 2px solid #0099cc;
    border-radius: 50px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  .panel {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 0px;
    border: 2px solid #0099cc;
    padding: 40px;
  }

  input[type=text]:focus {
    width: 100%;
  }
  textarea {
    width: 100%;
    border: 2px solid #0099cc;
  }
  .mrgn {
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 20px;
  }

  .footer {
    background-color: #006598;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }

  .footer1 {
    background-color: #006598;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 1px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .font {
    font-size: 20px;
  }


  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }



  @media screen and (min-width: 565px) {
    .butt {
      margin-left: 500px;
      font-size: 18px;
    }

    .accordion {
      margin-left: 0px;
      background-color: #1E90FF;
      color: white;
      cursor: pointer;
      width: 94%;
      padding: 18px;
      border: none;
      text-align: left;
      font-size: 15px;
    }

    .pan-marg {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
/*
  @media screen and (min-width: 365px) {
    .accordion {
      margin-left: 0px;
      background-color: blue;
      color: white;
      cursor: pointer;
      width: 88%;
      padding: 18px;
      border: none;
      text-align: left;
      font-size: 15px;
    }

    .pan-marg {
      margin-left: 20px;
    }
   
  }
  */
/*
header {
        background: blue;
        height: 100px;
      }
      h1 {
        text-align: center;
        color: blue;
      }
      p {
        text-align: center;
        color: black;
      }
      h3 {
        text-align: center;
        color: blue;
        line-height: 100px;
        margin: 0;
      }
      button {
        flex: 1 auto;
        margin-top: 35px;
        margin-left: 250px;
        font-size: 18px;
        line-height: 1.5;
      }  
      article:nth-of-type(3) div:first-child {
        flex:1 100px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
      }

      */